.bg-image {
  background-image: url(Building.avif);
  object-fit: scale-down;
  background-position: center;
  background-size: cover;
  width: 100%;
  border: solid;
  min-height: 70dvh;
  color: rgb(215, 23, 23);
  content: center;
  align-items: center;
}

header {
  display: flex;
  background-color: #233f65;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.why-section {
  background-color: antiquewhite;
}

.phone-section {
  width: 100%;

}

.blog-section {
  width: 100%;
  justify-content: center;
  align-content: center;

}

.card {
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  text-align: center;
}

.nova-section {
  align-content: center;
  justify-content: center;
}

.header-bg-image {
  background-image: url(Team.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: end;
  border: solid;
  border-color: black;
  width: 50%;
  min-height: 100dvh;
  background-color: #233f65;
}